@import "scss/variables";

:root, :host {
  --sys-color-primary: #{$color-primary};
  --sys-color-surface-tint: #{$color-surface-tint};
  --sys-color-on-primary: #{$color-on-primary};
  --sys-color-primary-container: #{$color-primary-container};
  --sys-color-on-primary-container: #{$color-on-primary-container};
  --sys-color-secondary: #{$color-secondary};
  --sys-color-on-secondary: #{$color-on-secondary};
  --sys-color-secondary-container: #{$color-secondary-container};
  --sys-color-on-secondary-container: #{$color-on-secondary-container};
  --sys-color-tertiary: #{$color-tertiary};
  --sys-color-on-tertiary: #{$color-on-tertiary};
  --sys-color-tertiary-container: #{$color-tertiary-container};
  --sys-color-on-tertiary-container: #{$color-on-tertiary-container};
  --sys-color-error: #{$color-error};
  --sys-color-on-error: #{$color-on-error};
  --sys-color-error-container: #{$color-error-container};
  --sys-color-on-error-container: #{$color-on-error-container};
  --sys-color-background: #{$color-background};
  --sys-color-on-background: #{$color-on-background};
  --sys-color-surface: #{$color-surface};
  --sys-color-on-surface: #{$color-on-surface};
  --sys-color-surface-variant: #{$color-surface-variant};
  --sys-color-on-surface-variant: #{$color-on-surface-variant};
  --sys-color-outline: #{$color-outline};
  --sys-color-outline-variant: #{$color-outline-variant};
  --sys-color-shadow: #{$color-shadow};
  --sys-color-scrim: #{$color-scrim};
  --sys-color-inverse-surface: #{$color-inverse-surface};
  --sys-color-inverse-on-surface: #{$color-inverse-on-surface};
  --sys-color-inverse-primary: #{$color-inverse-primary};
  --sys-color-primary-fixed: #{$color-primary-fixed};
  --sys-color-on-primary-fixed: #{$color-on-primary-fixed};
  --sys-color-primary-fixed-dim: #{$color-primary-fixed-dim};
  --sys-color-on-primary-fixed-variant: #{$color-on-primary-fixed-variant};
  --sys-color-secondary-fixed: #{$color-secondary-fixed};
  --sys-color-on-secondary-fixed: #{$color-on-secondary-fixed};
  --sys-color-secondary-fixed-dim: #{$color-secondary-fixed-dim};
  --sys-color-on-secondary-fixed-variant: #{$color-on-secondary-fixed-variant};
  --sys-color-tertiary-fixed: #{$color-tertiary-fixed};
  --sys-color-on-tertiary-fixed: #{$color-on-tertiary-fixed};
  --sys-color-tertiary-fixed-dim: #{$color-tertiary-fixed-dim};
  --sys-color-on-tertiary-fixed-variant: #{$color-on-tertiary-fixed-variant};
  --sys-color-surface-dim: #{$color-surface-dim};
  --sys-color-surface-bright: #{$color-surface-bright};
  --sys-color-surface-container-lowest: #{$color-surface-container-lowest};
  --sys-color-surface-container-low: #{$color-surface-container-low};
  --sys-color-surface-container: #{$color-surface-container};
  --sys-color-surface-container-high: #{$color-surface-container-high};
  --sys-color-surface-container-highest: #{$color-surface-container-highest};
  --sys-retro-pink: #{$retro-pink};
  --sys-retro-yellow: #{$retro-yellow};
  --sys-retro-red: #{$retro-red};
  --sys-retro-white: #{$retro-white};
  --sys-retro-green: #{$retro-green};
  --sys-retro-blue: #{$retro-blue};
}
