@use 'sass:math';
@use 'sass:map';

@function getShadow($widths...) {
  $shadow: '',;
  @each $number in $widths {
    $shadow: #{$shadow}, #{$number} #{$number} #000;
  }
  @return $shadow;
}
@function getMarginWithShadow($margin, $shadowWidth) {
  @return #{$margin}px #{$margin+$shadowWidth}px #{$margin+$shadowWidth}px #{$margin}px;
}

@mixin scrollbar(
  $thumbColor: transparent,
  $trackColor: transparent,
  $width: 0px
) {
  scrollbar-width: thin;
  scrollbar-color: $thumbColor $trackColor;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    width: $width;
    background-color: $trackColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: math.div($width, 2);
  }
}
