@import 'utils';
$color-primary: rgb(136 81 29);
$color-surface-tint: rgb(136 81 29);
$color-on-primary: rgb(255 255 255);
$color-primary-container: rgb(255 220 194);
$color-on-primary-container: rgb(46 21 0);
$color-secondary: rgb(116 89 68);
$color-on-secondary: rgb(255 255 255);
$color-secondary-container: rgb(255 220 194);
$color-on-secondary-container: rgb(42 23 7);
$color-tertiary: rgb(92 98 55);
$color-on-tertiary: rgb(255 255 255);
$color-tertiary-container: rgb(224 231 177);
$color-on-tertiary-container: rgb(25 30 0);
$color-error: rgb(186 26 26);
$color-on-error: rgb(255 255 255);
$color-error-container: rgb(255 218 214);
$color-on-error-container: rgb(65 0 2);
$color-background: rgb(255 248 245);
$color-on-background: rgb(34 26 20);
$color-surface: rgb(255 248 245);
$color-on-surface: rgb(34 26 20);
$color-surface-variant: rgb(243 223 209);
$color-on-surface-variant: rgb(81 68 59);
$color-outline: rgb(132 116 105);
$color-outline-variant: rgb(214 195 182);
$color-shadow: rgb(0 0 0);
$color-scrim: rgb(0 0 0);
$color-inverse-surface: rgb(56 47 40);
$color-inverse-on-surface: rgb(254 238 228);
$color-inverse-primary: rgb(255 183 123);
$color-primary-fixed: rgb(255 220 194);
$color-on-primary-fixed: rgb(46 21 0);
$color-primary-fixed-dim: rgb(255 183 123);
$color-on-primary-fixed-variant: rgb(108 58 5);
$color-secondary-fixed: rgb(255 220 194);
$color-on-secondary-fixed: rgb(42 23 7);
$color-secondary-fixed-dim: rgb(227 192 166);
$color-on-secondary-fixed-variant: rgb(90 66 46);
$color-tertiary-fixed: rgb(224 231 177);
$color-on-tertiary-fixed: rgb(25 30 0);
$color-tertiary-fixed-dim: rgb(196 203 151);
$color-on-tertiary-fixed-variant: rgb(68 74 34);
$color-surface-dim: rgb(231 215 205);
$color-surface-bright: rgb(255 248 245);
$color-surface-container-lowest: rgb(255 255 255);
$color-surface-container-low: rgb(255 241 233);
$color-surface-container: rgb(251 235 225);
$color-surface-container-high: rgb(245 229 219);
$color-surface-container-highest: rgb(239 224 214);
$retro-pink: #e5929f;
$retro-yellow: #deb048;
$retro-red: #EA612F;
$retro-green: #5b7f46;
$retro-blue: #4a8dbb;
$retro-white: #f2ebda;
$retro-yellow-light: #e9d199;
$retro-yellow-light-offset: #f9f0de;
$retro-yellow-offset: #e4d5ae;
$retro-border: 2px solid #000;
$retro-border-thick: 4px solid #000;
$retro-border-radius: 15px;
$retro-border-radius: 15px;
$retro-container-shadow: getShadow(1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px);

